ul {
    list-style-type: decimal;
    padding-inline-start: 40px;
}

.Lecture {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(170, 170, 170, 0.8);
}

.Lecture_box {
    
}

.Lecture_Container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.Lecture_title {
    font-weight: bolder;
    font-size: 2em;
}

.Lecture_List {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.2em;
}

.Retune_Btn {
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:none;
    background-color: rgba(170, 170, 170, 0.2);
}