
.Module_title {
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.Module_title_text {
    font-size: x-large;
}

.Module_imgs {
    display: flex;
    justify-content: center;
}

.Module_img {
    height: 16rem;
    width: 11.5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 6px 12px 5px rgba(0, 0, 0, 0.6);
}

.Module_casual_imgs {
    display: flex;
    justify-content: center;
    align-content: center;
}
.Module_casual_img {
    margin-left: 15px;
    margin-right: 10px;
}

.wip {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}