@import url("reset.css");
@import url("menu.css");
@import url("title.css");
@import url("back.css");
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Open+Sans:wght@400;600&family=Oswald:wght@600;700&display=swap');
@import url("lecture.css");


@import url("animation/menu_ani.css");


body {
    font-family: 'Oswald', sans-serif;
};