<section class="blue-jet">
    <div class="Blue_back">
        <div class="Blue_img">
            <img class="Blue_flag" src="Img/Flag/Nato.jpg">
        </div>
        <div class="Module">
            <div class="Module_study">
                <header class="Module_title">
                    <span class="Module_title_text">Blue Team</span>
                </header>
                <article class="Module_imgs Module_imgs_1">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F14.jpg">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F15E.png">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F16.jpg">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F18.png">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F86.jpg">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F5E.jpg">
                    <img class="Module_img " src="../../assets/Img/Module/Blue/F1.jpg">
                </article>
                <article class="Module_imgs Module_imgs_2">
                    <img class="Module_img" src="../../assets/Img/Module/Blue/A10C.jpg">
                    <img class="Module_img" src="../../assets/Img/Module/Blue/AV8.jpg">
                    <img class="Module_img" src="../../assets/Img/Module/Blue/AJS37.jpg">
                    <img class="Module_img" src="../../assets/Img/Module/Blue/M2000.jpg">
                </article>
            </div>
            <div class="Module_casual">
                <header class="Module_title">
                    <span class="Module_title_text">Casual</span>
                </header>
                <article class="Module_imgs Module_casual_imgs">
                    <img class="Module_img Module_casual_img" src="../../assets/Img/Module/Blue/F15C.jpg">
                    <img class="Module_img Module_casual_img" src="../../assets/Img/Module/Blue/A10A.jpg">
                </article>
            </div>
        </div>
    </div>
</section>
