<section class="red-jet">
    <div class="Blue_back">
        <div class="Blue_img main_img">
            <img class="Blue_flag" src="Img/Flag/Warsaw.jpeg">
        </div>
        <div class="Module">
            <div class="Module_study">
                <header class="Module_title">
                    <span class="Module_title_text">Red Team</span>
                </header>
                <article class="Module_imgs Module_Red_imgs">
                    <img class="Module_img Module_Red_img" src="../../assets/Img/Module/Red/Jf17.jpg">
                    <img class="Module_img Module_Red_img" src="../../assets/Img/Module/Red/Mig21.jpg">
                    <img class="Module_img Module_Red_img" src="../../assets/Img/Module/Red/Mig19.jpg">
                    <img class="Module_img Module_Red_img" src="../../assets/Img/Module/Red/Mig15.jpg">
                </article>
            </div>
            <div class="Module_casual">
                <header class="Module_title">
                    <span class="Module_title_text">Casual</span>
                </header>
                <article class="Module_imgs Module_Red_casual_imgs Module_casual_imgs ">
                    <img class="Module_img Module_Red_casual_img Module_casual_img " src="../../assets/Img/Module/Red/Mig29.jpg">
                    <img class="Module_img Module_Red_casual_img Module_casual_img " src="../../assets/Img/Module/Red/Su33.jpg">
                    <img class="Module_img Module_Red_casual_img Module_casual_img " src="../../assets/Img/Module/Red/Su27.jpg">
                    <img class="Module_img Module_Red_casual_img Module_casual_img" src="../../assets/Img/Module/Red/Su25.jpg">
                </article>
            </div>
        </div>
    </div>
</section>