<section class="aircraft_container">
    <article class="aircraft_box blue_box">
        <header class="module_title">
            <span>Blue Aircraft Guide</span>
        </header>
        <div class="module_link module_jet">
            <!-- 모듈(기체) 박스-->
        </div>
        <div class="module_link module_heli">
            <!-- 모듈(기체) 박스-->
        </div>
    </article>
    <article class="aircraft_box red_box">
        <header class="module_title">
            <span>Red Aircraft Guide</span>
        </header>
        <div class="module_link module_jet">
            <!-- 모듈(기체) 박스-->
        </div>
        <div class="module_link module_heli">
            <!-- 모듈(기체) 박스-->
        </div>
    </article>
</section>
